<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<!-- sidebar -->
<div class="col-xs-2 col-sm-2 sidebar navbar-default" role="navigation">
	<ul class="nav">
		<li class="active"><a href="/patients">Patients</a></li>
		<li><a href="/procedures">Procedures</a></li>
		<li><a href="/surveys">Surveys</a></li>   
		<li><a href="#">Help</a></li>   
	</ul>
</div>