<!DOCTYPE html>
<html>
	<head>
		<% include partials/head %>
	</head>
	<body>
		<div class="container">
			<% include partials/side_nav %>	
			<% include partials/header %>
			<div class="main-wrapper col-xs-12 col-sm-10">
				<h1 class="pg-title">eMED</h1>
				<div class="btn-group-vertical button-group">
					<a class="btn btn-primary" href="/patients">Patients</a>
					<a class="btn btn-primary" href="/procedures">Procedures</a>
					<a class="btn btn-primary" href="/surveys">Surveys</a>
				</div>
				<footer>
					<% include partials/footer %>
				</footer>
			</div>
		</div>
	</body>
</html>