html, body {
  height: 100%;
  background-color: #f8f8f8; }

.pg-title {
  text-align: center;
  display: block; }

.main-wrapper {
  text-align: center;
  margin: 20px auto 0 auto;
  padding: 0 20px 0 20px; }

a {
  color: #777; }

/*@media (min-width: 768px) {
	.main-wrapper {
		text-align: center;
		margin: 20px auto 0 auto;
		padding: 0 20px 0 20px;
		width: 720px;
	}
}*/
.container {
  margin: 0;
  padding: 0;
  height: 100%; }

.button-group {
  text-align: center;
  margin-top: 20px; }

.patient-actions {
  display: inline; }

@media (max-width: 768px) {
  .button-group {
    text-align: center;
    margin: 20px 0 20px 0; } }

@media (min-width: 500px) {
  .form-primary {
    margin: auto;
    width: 500px; } }

footer {
  margin-top: 150px; }

/* Survey */
#surveyElement {
  text-align: left; }
  #surveyElement h5 {
    font-size: 20px; }
  #surveyElement .panel-footer {
    text-align: center; }

.survey {
  color: #4db2ec;
  text-align: center; }
  .survey h1, .survey h2, .survey h5 {
    color: black; }

/* Navigation */
/* Top Navigation */
/* Side Navigation */
.navbar {
  margin-bottom: 0;
  background-color: #fff;
  border: none; }

.sidebar {
  padding: 0;
  height: 100%;
  background-color: #fff; }
