html, body {
  height: 100%;
  background-color: #f8f8f8; }

.pg-title {
  text-align: center;
  display: block; }

.main-wrapper {
  text-align: center;
  margin: 20px auto 0 auto;
  padding: 0 20px 0 20px; }

a {
  color: #777; }

.container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

.button-group {
  text-align: center;
  margin-top: 20px; }

.patient-actions, .survey-actions {
  display: inline; }
  .patient-actions button, .survey-actions button {
    background: none;
    color: red; }

.back-link {
  float: left; }

@media (max-width: 768px) {
  .button-group {
    text-align: center;
    margin: 20px 0 20px 0; } }

@media (min-width: 500px) {
  .form-primary {
    margin: auto;
    width: 500px; } }

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: -1; }

/* Survey */
#surveyElement {
  text-align: left; }
  #surveyElement h5 {
    font-size: 20px; }
  #surveyElement h3 {
    text-align: center; }
  #surveyElement .panel-footer {
    text-align: center; }

.survey {
  color: #4db2ec;
  text-align: center; }
  .survey h1, .survey h2, .survey h5 {
    color: black; }
  .survey span {
    text-align: center; }

/* Navigation */
/* Top Navigation */
.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid #999;
  background-color: #fff;
  border: none;
  z-index: 0; }

.notifications {
  margin-top: 1em;
  float: right; }

/* Side Navigation */
.navbar-header {
  width: 100%; }

.sidebar, .sidebar-overlay {
  padding: 0;
  height: 100%;
  background-color: #fff; }

.sidebar-overlay {
  font-size: 32px;
  background-color: #286090;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999; }
  .sidebar-overlay a {
    color: white; }
  .sidebar-overlay .glyphicon {
    margin: 1em 0 0 1em;
    cursor: pointer; }

.nav {
  display: inline-block;
  padding: 1em;
  width: 100%; }

.navbar-toggle {
  float: left; }

@media (max-width: 768px) {
  .sidebar, .sidebar-overlay {
    display: none; } }

@media (min-width: 768px) {
  .sidebar, .sidebar-overlay {
    display: inline-block; }
  .sidebar-overlay {
    display: none; }
  .navbar-toggle {
    display: none; } }

/* Tables */
.fixed-height {
  max-height: 30em; }

/* Procedures */
.new-question-container {
  display: none; }
  .new-question-container select {
    float: left;
    width: 80%;
    display: inline-block;
    margin-left: 7.5%; }
  .new-question-container button {
    float: right; }

.question-remove {
  margin-right: 2.5%; }

.question-set-list {
  text-align: initial;
  margin: auto; }
  .question-set-list ul {
    list-style-type: none; }

.errors {
  margin-left: 33%;
  text-align: left;
  color: red; }
