html, body {
  height: 100%;
  background-color: #f8f8f8; }

.pg-title {
  text-align: center;
  display: block; }

.main-wrapper {
  text-align: center;
  margin: 20px auto 0 auto;
  padding: 0 20px 0 20px; }

a {
  color: #777; }

/*@media (min-width: 768px) {
	.main-wrapper {
		text-align: center;
		margin: 20px auto 0 auto;
		padding: 0 20px 0 20px;
		width: 720px;
	}
}*/
.container {
  margin: 0;
  padding: 0;
  height: 100%; }

.button-group {
  text-align: center;
  margin-top: 20px; }

.patient-actions, .survey-actions {
  display: inline; }
  .patient-actions button, .survey-actions button {
    background: none;
    color: red; }

.back-link {
  float: left; }

@media (max-width: 768px) {
  .button-group {
    text-align: center;
    margin: 20px 0 20px 0; } }

@media (min-width: 500px) {
  .form-primary {
    margin: auto;
    width: 500px; } }

footer {
  margin-top: 150px; }

/* Survey */
#surveyElement {
  text-align: left; }
  #surveyElement h5 {
    font-size: 20px; }
  #surveyElement h3 {
    text-align: center; }
  #surveyElement .panel-footer {
    text-align: center; }

.survey {
  color: #4db2ec;
  text-align: center; }
  .survey h1, .survey h2, .survey h5 {
    color: black; }

/* Navigation */
/* Top Navigation */
/* Side Navigation */
.navbar {
  margin-bottom: 0;
  background-color: #fff;
  border: none; }

.sidebar {
  padding: 0;
  height: 100%;
  background-color: #fff; }

/* Tables */
.fixed-height {
  max-height: 30em; }

/* Procedures */
.new-question-container {
  display: none; }
  .new-question-container select {
    float: left;
    width: 80%;
    display: inline-block;
    margin-left: 7.5%; }
  .new-question-container button {
    float: right; }

.question-remove {
  margin-right: 2.5%; }

.question-set-list {
  text-align: initial;
  margin: auto; }
  .question-set-list ul {
    list-style-type: none; }
