<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<div class="container main-wrapper">
			<h1 class="pg-title">patients#new</h1>
			<form class="form-primary" method="post">
				<div class="form-group">
					<label for="first_name">First name</label>
					<input type="text" class="form-control" name="first_name" id="first_name" placeholder="First name">
				</div>
				<div class="form-group">
					<label for="last_name">Last name</label>
					<input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last name">
				</div>
				<div class="form-group">
					<label for="dob">Date of birth</label>
					<input type="date" class="form-control" name="dob">
				</div>
				<div class="form-group">
					<label class="radio-inline"><input type="radio" value="male" name="gender">Male</label>
					<label class="radio-inline"><input type="radio" value="female" name="gender">Female</label>
				</div>
				<div class="form-group">
					<label for="procedure">Procedure undertaken</label>
					<select class="form-control">
					<option>TBC</option>
					<option>TBC</option>
					<option>TBC</option>
					<option>TBC</option>
					</select>
				</div>
				<button type="submit" class="btn btn-primary">Save</button>
			</form>
		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>