<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<div class="container">
			<% include ../partials/side_nav %>
			<div class="main-wrapper col-xs-9 col-xs-push-1">
				<h1 class="pg-title">Edit Procedure</h1>

				<div class="panel panel-default">
				  <div class="panel-heading">
				  	<h3 class="panel-title">Details</h3>
				  </div>
				  <div class="panel-body">
					  <h3><%= procedure.name %></h3>
				  </div>
		  	</div>

				<div class="panel panel-default">
				  <div class="panel-heading">
				  	<h3 class="panel-title">Question Set</h3>
				  </div>
				  <div class="panel-body question-set-list">
				  	<%- procedure.questions_html_humanized() %>
				  	<div class="new-question-container">
				  			<select class="form-control" id="new-question-select">
							  	<% for (var i = 0; i < questions.length; i++) { %>
							  		<option value="<%= questions[i]._id %>"><%= questions[i].title %></option>
							  	<% } %>
						  	</select>
						  	<button type="submit" class="btn btn-primary" id="question-add">Add</button>
				  	</div>
				  	<a class="btn btn-primary new-question">Add a question</a>
				  </div>
	  		</div>
				<footer>
						<% include ../partials/footer %>
				</footer>
			</div>
		</div>
	</body>
</html>