<!DOCTYPE html>
<html>
  <body>
    <h1>Hello <%= patient.first_name %></h1>
    <p>Please follow the following link to complete your survey.</p>
    <p><a href="http://epro-rest.herokuapp.com/surveys/<%= patient.survey_id %>">HERE</a></p>
    <p>If you have any problems with the following link, please contact NNUH.</p>
  </body>
</html>