<!DOCTYPE html>
<html>
  <head>
    <link href="survey_template.css" rel="stylesheet">
  </head>
  <body>
    <h1 class="page-title">Hello <%= patient.first_name %></h1>
    <p>Please follow the following link to complete your survey.</p>
    <p><a href="http://localhost:3000/surveys/<%= surveyID %>">HERE</a></p>
    <p>If you have any problems with the following link, please contact NNUH.</p>
  </body>
</html>