<html>
	<head>
		<% include ../partials/head %>
		<script src="/javascripts/surveys2.js"></script>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<div class="container main-wrapper">
			<h1 class="pg-title">Example Survey</h1>
			<div id="surveyElement"></div>
			<div id="results"></div>
		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>