<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<div class="container main-wrapper">
			<h1 class="pg-title">Surveys</h1>
			<div class="btn-group-vertical button-group">
				<a class="btn btn-primary" href="surveys/new">Create</a>
				<a class="btn btn-primary" href="surveys/example1">Example 1</a>
				<a class="btn btn-primary" href="surveys/example2">Example 2</a>
			</div>
		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>