<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<div class="container">
			<% include ../partials/side_nav %>
			<div class="main-wrapper col-xs-9 col-xs-push-1">
				<h1 class="pg-title">Generate Survey</h1>
				<div class="btn-group-vertical button-group">
					<form class="form-primary" method="post">
						<div class="form-group">
							<label for="procedure">Procedure undertaken</label>
							<p><em>Select the procedure to generate a survey for:</em></p>
							<select name="procedure" class="form-control">
							<% for(var i = 0; i < procedures.length; i++) { %>
								<option value="<%= procedures[i]._id %>"><%= procedures[i].name %></option>
							<% } %>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">Generate</button>
					</form>
				</div>
				<footer>
					<% include ../partials/footer %>
				</footer>
			</div>
		</div>
	</body>
</html>