<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <div class="main-wrapper col-xs-8 col-xs-push-2 survey">
      <% include ../shared/flashes %>
      <a class="back-link" href="<%= backURL %>"> &larr; Go back</a>
      <h1 class="pg-title">Survey Results</h1>
      <h2><%= patient.fullName() %></h2>
      <hr>
      <div id="results">
        <%= JSON.stringify(survey.results) %>
      </div>
      <footer>
        <% include ../partials/footer %>
      </footer>
    </div>
  </body>
</html>