<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<input type="hidden" id="questions-json" value="<%= question_set %>" />
		<div class="main-wrapper col-xs-8 col-xs-push-2 survey">
			<h1 class="pg-title">Generated Survey</h1>
			<h2><%= patient.full_name() %></h2>
			<hr>
			<div id="surveyElement"></div>
			<div id="results"></div>
			<footer>
				<% include ../partials/footer %>
			</footer>
		</div>
	</body>
	<script language="JavaScript" src="/javascripts/survey_generator.js" type="text/javascript"></script>
</html>